body{
    font-family: 'Lato', sans-serif;

}
#outputWrap{
    display: block;
    width: 100%;
    clear: both;
    margin: 10px;
}

.inputLine{
    float: left;
    margin: 10px;
}

#endPointURL{
    min-width: 300px;
}


#output{
    width: 90%;
    min-height: 300px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}